* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;

}

body {
    font-family:'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
    background-color: black;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.nav-container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.nav-header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #0a0e1434;
    z-index: 800;
    color: #fff;
}

.nav {
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav-list {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}


.nav-link {
    position: relative;
    color: #fff;
    font-size: medium;
    font-weight: 400;
    display: inline-flex;
    align-items: center;
}

.nav-link span {
    position: relative;
    transition: margin 0.4s;
}

.nav-link span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background-color: #0a0e1434;
    transition: width 0.4s ease-out;
}

.nav-link:hover span {
    margin-left: 2.5rem;
}

.nav-link:hover i {
    opacity: 1;
    visibility: visible;
}
  
  .nav-link:hover span::after {
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .nav-menu {
        position: absolute;
        left: -100%;
        top: 0;
        background-color: #0a0e1434;
        width: 100%;
        height: 100%;
        padding: 6rem 3.5rem 4.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: left 0.4s;
    }

    .nav-item {
        transform: translateX(-150px);
        visibility: hidden;
        transition: transform 0.4s ease-out, visibility 0.4s;
    }
}

/* HOME PAGE SECTION -----------------------*/

.carosel-container .carosel-list .carosel-item {
    position: relative;
}

.carosel-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.carosel-container .carosel-list .carosel-item {
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0 0 0 0;
}

.carosel-container .carosel-list .carosel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carosel-container .carosel-list .carosel-item::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.carosel-des {
    color: #fff
}

.carosel-container .carosel-list .carosel-item .carosel-content {
    position: absolute;
    top: 10%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
}

.carosel-name {
    font-weight: bold;
    letter-spacing: 12px;
}

.carosel-title, .carosel-topic {
    font-size: 5em;
    font-weight: bold;
    line-height: 1.4em;
}

.carosel-topic {
    color: #fff;
}

.carosel-des {
    color: #fff;
}

/* CAROSEL BOXES SECTION -------------- */

.carosel-box {
    position: absolute;
    bottom: 100px;
    left: 65%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}

.carosel-box .box-item {
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
    border: 2px solid #fff;
    border-radius: 20px;
}

.carosel-box .box-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    z-index: 1;
}

.carosel-box .box-item .box-content {
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

.box-title {
    font-weight: 500;
}

/* ANIMATION CAROSEL CSS ------ */


.carosel-container .carosel-list .carosel-item:nth-child(1) .carosel-content .carosel-name,
.carosel-container .carosel-list .carosel-item:nth-child(1) .carosel-content .carosel-title,
.carosel-container .carosel-list .carosel-item:nth-child(1) .carosel-content .carosel-topic,
.carosel-container .carosel-list .carosel-item:nth-child(1) .carosel-content .carosel-des
{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}

@keyframes showContent {
    to {
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.carosel-container .carosel-item:nth-child(1) .carosel-content .carosel-name {
    animation-delay: 1.2s!important;
}

.carosel-container .carosel-item:nth-child(1) .carosel-content .carosel-title {
    animation-delay: 1.4s!important;
}

.carosel-container .carosel-item:nth-child(1) .carosel-content .carosel-topic {
    animation-delay: 1.6s!important;
}

.carosel-container .carosel-item:nth-child(1) .carosel-content .carosel-des {
    animation-delay: 1.8s!important;
}

.carosel-item:nth-child(1) {
    z-index: 2;
}


.carosel-container.next .carosel-box .box-item:nth-last-child(1) {
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}

@keyframes showThumbnail {
    from {
        width: 0;
        opacity: 0;
    }
}

.carosel-container.next .carosel-box {
    animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext {
    from {
        transform: translateX(150px);
    }
}

.carosel-container .time {
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 3px;
    background-color: #ffffff;
    left: 0;
    top: 0;
}


.carosel-container.next .time, 
.carosel-container.prev .time {
    animation: runningTime 3s linear 1 forwards;
}

@keyframes runningTime {
    from {
         width: 100%;
    }
    to {
        width: 0;
    }
}



@media screen and (max-width: 678px) {
    .carosel-content {
        padding-right: 0;
    }
    .carosel-name {
        font-size: 30px;
    }
}