* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    font-family:'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
    background-color: black;
}

/* HOME PAGE SECTION -----------------------*/

.carosel-container .carosel-list .carosel-item {
    position: relative;
}

.carosel-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.carosel-container .carosel-list .carosel-item {
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0 0 0 0;
}

.carosel-container .carosel-list .carosel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carosel-container .carosel-list .carosel-item::after {
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 50%);
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.carosel-des {
    color: #fff
}

.carosel-container .carosel-list .carosel-item .carosel-content {
    position: absolute;
    top: 10%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
}

.carosel-name {
    font-weight: bold;
    letter-spacing: 12px;
}

.carosel-title, .carosel-topic {
    font-size: 5em;
    font-weight: bold;
    line-height: 1.4em;
}

.carosel-topic {
    color: #fff;
}

.carosel-des {
    color: #fff;
}

/* CAROSEL BOXES SECTION -------------- */

.carosel-box {
    position: absolute;
    bottom: 100px;
    left: 65%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}

.carosel-box .box-item {
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
    border: 2px solid #fff;
    border-radius: 20px;
}

.carosel-box .box-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    z-index: 1;
}

.carosel-box .box-item .box-content {
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

.box-title {
    font-weight: 500;
}

/* BUTTON --------------*/

.carosel-container button {
    position: relative;
    padding: 1em 1.8em;
    outline: none;
    border: 1px solid #303030;
    background: #212121;
    color: #ae00ff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

.carosel-button button:hover {
    box-shadow: 0 0 10px #ae00ff, 0 0 25px #001eff, 0 0 50px #ae00ff;
    transition-delay: 0.6s;
}

.carosel-button button span {
    position: absolute;
}

.carosel-button button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ae00ff);
}

.carosel-button button:hover span:nth-child(1) {
    left: 100%;
    transition: 0.7s;
}

.carosel-button button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #001eff);
}

.carosel-button button:hover span:nth-child(3) {
    right: 100%;
    transition: 0.7s;
    transition-delay: 0.35s;
}

.carosel-button button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ae00ff);
}

.carosel-button button:hover span:nth-child(2) {
    top: 100%;
    transition: 0.7s;
    transition-delay: 0.17s;
}

.carosel-button button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #001eff);
}

.carosel-button button:hover span:nth-child(4) {
    bottom: 100%;
    transition: 0.7s;
    transition-delay: 0.52s;
}

.carosel-button button:active {
    background: #ae00af;
    background: linear-gradient(to top right, #ae00af, #001eff);
    color: #bfbfbf;
    box-shadow: 0 0 8px #ae00ff, 0 0 8px #001eff, 0 0 8px #ae00ff;
    transition: 0.1s;
}

.carosel-button button:active span:nth-child(1) 
    span:nth-child(2) 
    span:nth-child(2) 
    span:nth-child(2) {
    transition: none;
    transition-delay: none;
}


/* ANIMATION CAROSEL CSS ------ */
.carosel-container .carosel-list .carosel-item:nth-child(1) .carosel-content .carosel-name,
.carosel-container .carosel-list .carosel-item:nth-child(1) .carosel-content .carosel-title,
.carosel-container .carosel-list .carosel-item:nth-child(1) .carosel-content .carosel-topic,
.carosel-container .carosel-list .carosel-item:nth-child(1) .carosel-content .carosel-des,
.carosel-container .carosel-list .carosel-item:nth-child(1) .carosel-content .carosel-button {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 1s linear 1 forwards, hideContent 0.5s 5s linear 1 forwards; 
}

@keyframes showContent {
    to {
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes hideContent {
    from {
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
    to {
        transform: translateY(50px);
        filter: blur(20px);
        opacity: 0;
    }
}

.carosel-container .carosel-item:nth-child(1) .carosel-content .carosel-name {
    animation-delay: 1.2s, 6.2s !important; 
}

.carosel-container .carosel-item:nth-child(1) .carosel-content .carosel-title {
    animation-delay: 1.4s, 6.4s !important;
}

.carosel-container .carosel-item:nth-child(1) .carosel-content .carosel-topic {
    animation-delay: 1.6s, 6.6s !important;
}

.carosel-container .carosel-item:nth-child(1) .carosel-content .carosel-des {
    animation-delay: 1.8s, 6.8s !important;
}

.carosel-container .carosel-item:nth-child(1) .carosel-content .carosel-button {
    animation-delay: 1.8s, 6.8s !important;
}

.carosel-item:nth-child(1) {
    z-index: 2;
}


.carosel-container.next .carosel-box .box-item:nth-last-child(1) {
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}

@keyframes showThumbnail {
    from {
        width: 0;
        opacity: 0;
    }
}

.carosel-container.next .carosel-box {
    animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext {
    from {
        transform: translateX(150px);
    }
}

.carosel-container .time {
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 3px;
    background-color: #ffffff;
    left: 0;
    top: 0;
}


.carosel-container.next .time, 
.carosel-container.prev .time {
    animation: runningTime 3s linear 1 forwards;
}

@keyframes runningTime {
    from {
         width: 100%;
    }
    to {
        width: 0;
    }
}

@media screen and (max-width: 678px) {
    .carosel-content {
        padding-right: 0;
    }
    .carosel-name {
        font-size: 30px;
    }
}

/*ABOUT ME SECTION -----------*/
.about-wrapper {
    width: 100%;
    overflow-x: hidden;
    padding: 10px;
    display: flex;
    box-sizing: border-box;
    position: relative;
    align-items: center;
    justify-content: center;
}

.skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    height: 100%;
    width: 100%;
}

.picture-me {
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture-me img {
    position: relative;
    width: 50%;
    height: auto;
    border-radius: 16px;
    object-fit: cover;
}

.credentials-card {
    grid-column: 2;
    border-radius: 8px;
    padding: 10px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

.circle {
    padding: 0 4px;
}

.tools {
    position: relative;
    display: flex;
    align-items: center;
    padding: 9px;
    z-index: 1;
}

.box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
  }

.red {
    background-color: #ff605c;
}

.yellow {
    background-color: #ffbd44;
}

.green {
    background-color: #00ca4e;
}

.code {
    color: white;
}

@media screen and (max-width: 768px) {
    .skills-container {
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
    }

    .picture-me {
        grid-column: 1; 
        justify-content: center;
    }

    .credentials-card {
        grid-column: 1; 
        justify-content: center;
    }

    .about-wrapper {
        flex-direction: column;
    }
}
